<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnshu.mapper.UserMapper">

    <resultMap type="com.jnshu.entity.User" id="userMap">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="addUser" parameterType="com.jnshu.entity.User">
        insert into user (user_name,password)values(#{user.userName},#{user.password})
    </insert>

    <select id="getUser" resultMap="userMap" parameterType="String">
        select * from user where user_name=#{userName} and  password=#{password}
    </select>

</mapper>