<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置Spring MVC-->
    <!--1. 开启Spring MVC注解模式-->
    <mvc:annotation-driven/>
    <!--2. 静态资源默认servlet配置
          (1)加入对静态资源的处理: js,gif,png
          (2)允许使用“/”做整体映射-->
    <mvc:default-servlet-handler/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截所有请求-->
            <mvc:mapping path="/**" />

            <!--不拦截以以下结尾的请求-->
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/regist"/>
            <!--不拦截以下静态资源，防止样式表加载失败-->
            <!--不拦截某个jsp文件会导致相应的请求拦截失败-->
            <mvc:exclude-mapping path="/resources"/>
            <mvc:exclude-mapping path="/resources/imges/**"/>
            <mvc:exclude-mapping path="/WEB-INF/layout/**"/>
            <mvc:exclude-mapping path="/WEB-INF/web.xml"/>
            <bean class="com.jnshu.util.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="filenameController"
          class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>


    <!--3. 配置jsp视图解析器ViewResolver-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--Tiles视图页面加载配置-->
    <bean id="tilesResolver"
          class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.tiles3.TilesView"/>
        <property name="order" value="1"/>
        <property name="viewNames">
            <list>
                <value>*index</value>
                <value>*index2</value>
            </list>
        </property>
    </bean>

    <!-- 配置tiles模板 (新加部分)-->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/layout/tiles.xml</value>
            </list>
        </property>
    </bean>
    <!-- 配置视图解析器 -->
    <bean id="tilesviewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles3.TilesView</value>
        </property>
    </bean>

    <!--4. 扫描web相关的bean-->
    <context:component-scan base-package="com.jnshu.controller"/>

</beans>

















