<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--声明配置-->
    <context:annotation-config/>
    <!--通过XML启用组件扫描，与注解启用组件扫描相同-->

    <!-- 扫描文件（自动将service层注入 -->
    <context:component-scan base-package="com.jnshu" />
    <!--注意：不要省略com.,最好是绝对路径，相对路径IDEA可以找到，但是tomcat可能无法找到-->


</beans>